<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h5 class="customer_edit">会員情報編集</h5>
    </div>
    <div class="col-md-12 mb-5">
      <%= form_with model: @customer,url: public_customers_path,local: true do |f| %>
      <table>
        <tr>
          <td><p class="mb-2">氏名</p></td>
          <td>
            <%= f.text_field :last_name, class: "mb-2 mr-4" %>
            <%= f.text_field :first_name, class: "mb-2" %>
          </td>
        </tr>
        <tr>
          <td><p class="mb-2">フリガナ</p></td>
          <td>
            <%= f.text_field :last_name_kana, class: "mb-2 mr-4" %>
            <%= f.text_field :first_name_kana, class: "mb-2" %></td>
        </tr>
        <tr>
          <td><p class="mb-2">郵便番号</p></td>
          <td><%= f.text_field :postal_code, class: "mb-2" %></td>
        </tr>
        <tr>
          <td><p class="mb-2">住所</p></td>
          <td><%= f.text_field :address, class: "mb-2", size: "50" %></td>
        </tr>
        <tr>
          <td><p class="mb-2">電話番号</p></td>
          <td><%= f.text_field :telephone_number, class: "mb-2" %></td>
        </tr>
        <tr>
          <td><p class="mb-2 mr-5">メールアドレス</p></td>
          <td><%= f.email_field :email %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-5 text-center">
      <%= f.submit "編集内容を保存",class: "btn btn-success btn-sm px-3 mr-5" %>
      <%= link_to "退会する",public_customers_unsubscribe_path,class: "btn btn-danger btn-sm px-3" %>
      <% end %>
    </div>
  </div>
</div>