<%= render 'layouts/admin_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5 ml-5">
      <h5 class="items_edit">商品編集</h5>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <%= form_with model: @item,url: admin_item_path,local: true do |f| %>
      <table>
        <tbody>
          <tr>
            <td><p class="mb-3">商品画像</p></td>
            <td><p class="ml-5"><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td><p class="mb-3">商品名</p></td>
            <td><p class="ml-5"><%= f.text_field :name, size: "34" %></p></td>
          </tr>
          <tr>
            <td><p class="mb-3">商品説明</p></td>
            <td><p class="ml-5"><%= f.text_area :introduction, size: "33x5" %></p></td>
          </tr>
          <tr>
            <td><p class="mb-3">ジャンル</p></td>
            <td><p class="ml-5"><%= f.collection_select :genre_id, @genres, :id, :name,{class: "form-control"},{:style => "width:286px"} %></p></td>
          </tr>
          <tr>
            <td><p class="mb-3">税抜価格</p></td>
            <td><p class="ml-5"><%= f.text_field :price, size: "34" %>円</p></td>
          </tr>
          <tr>
            <td><p class="mb-3">販売ステータス</p></td>
            <td><p class="ml-5">
              <%= f.radio_button :is_active, 'true' %>
              <%= f.label :is_active, '販売中', value: true %>
              <%= f.radio_button :is_active, 'false' %>
              <%= f.label :is_active, '販売停止中', value: false %>
            </p></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-11 text-center">
      <%= f.submit "変更を保存",class: "btn btn-success btn-md mr-5" %>
      <% end %>
    </div>
  </div>
</div>