<%= render 'layouts/admin_header' %>
<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <td><h5 class="item_top">商品一覧</h5></td>
        <td><%= link_to "＋",new_admin_item_path,class: "btn btn-outline-secondary btn-md" %></td>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name,admin_item_path(item.id),class: "text-secondary" %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <% if item.is_active %>
            <td><p class= "text-success">販売中</p></td>
            <% else %>
            <td><p class= "text-secondary">販売停止中</p></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    　<div class="d-flex justify-content-center"><%= paginate @items %></div>
    </div>
  </div>
</div>