<%= render 'layouts/admin_header' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-5 ml-5">
      <h5 class="items_show mb-2">商品詳細</h5>
    </div>
    <div class="col-md-3 mr-5">
      <%= image_tag @item.image.url, size: "280x200" %>
    </div>
    <div class="col-md-7 ml-5">
      <table>
        <tr>
          <td><p class="mb-3">商品名</p></td>
          <td><p class="mb-3"><%= @item.name %></p></td>
        </tr>
        <tr>
          <td><p class="mb-3">商品説明</p></td>
          <td><p class="mb-3"><%= @item.introduction %></p></td>
        </tr>
        <tr>
          <td><p class="mb-3">ジャンル</p></td>
          <td><p class="mb-3"><%= @item.genre.name %></p></td>
        </tr>
        <tr>
          <td><p class="mb-3">
            税込価格<br>
            (税抜価格)
          </p></td>
          <td><p class="mb-3"><%= @item.add_tax_price.to_s(:delimited) %>(<%= @item.price %>)円</p></td>
        </tr>
        <tr>
          <td><p class="mr-5">販売ステータス</p></td>
          <% if @item.is_active %>
          <td><p class= "text-success">販売中</p></td>
          <% else %>
          <td><p class= "text-secondary">販売停止中</p></td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to "編集する",edit_admin_item_path(@item.id),class: "btn btn-success btn-md px-4 mt-4" %>
    </div>
  </div>
</div>