<%= render 'layouts/admin_header' %>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mt-3">管理者ログイン</h2>
        <%= form_with model: @admin,url: admin_session_path,local: true do |f| %>
          <div class="field mt-3">
            <lavel for="staticEmail" class="col-sm-2 col-form-lavel">メールアドレス</lavel>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "ml-3" %>
          </div>

          <div class="field mt-3">
            <lavel for="staticPassword" class="col-sm-2 col-form-lavel">パスワード</lavel>
              <%= f.password_field :password, autocomplete: "current-password",class: "ml-5" %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-md btn-primary mt-3" %>
          </div>
        <% end %>
    </div>
  </div>
</div>

