<%= render 'layouts/admin_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h5 class="customers_edit"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h5>
    </div>
    <div class="col-md-12">
      <%= form_with model: @customer,url: admin_customer_path,local: true do |f| %>
      <table>
        <tbody>
          <tr>
            <td><p class="mb-2">会員ID</td>
            <td><p class="mb-2"><%= @customer.id %></p></td>
          </tr>
          <tr>
            <td><p class="mb-2">氏名</p></td>
            <td><%= f.text_field :last_name, class: "mr-2 mb-2" %><%= f.text_field :first_name, class: "mb-2 ml-2" %></td>
          </tr>
          <tr>
            <td><p class="mb-2">フリガナ</p></td>
            <td><%= f.text_field :last_name_kana, class: "mr-2 mb-2" %><%= f.text_field :first_name_kana, class: "mb-2 ml-2" %></td>
          </tr>
          <tr>
            <td><p class="mb-2">郵便番号</p></td>
            <td><%= f.text_field :postal_code, class: "mb-2" %></td>
          </tr>
          <tr>
            <td><p class="mb-2">住所</p></td>
            <td><%= f.text_field :address, class: "mb-2",size: "60" %></td>
          </tr>
          <tr>
            <td><p class="mb-2">電話番号</p></td>
            <td><%= f.text_field :telephone_number, class: "mb-2" %></td>
          </tr>
          <tr>
            <td><p class="mb-2 mr-4">メールアドレス</p></td>
            <td><%= f.text_field :email, class: "mb-2", size: "40" %></td>
          </tr>
          <tr>
            <td><p class="mb-2">会員ステータス</p></td>
            <td>
              <%= f.radio_button :is_active, 'true' %>
              <%= f.label :is_active, '有効', value: true %>
              <%= f.radio_button :is_active, 'false' %>
              <%= f.label :is_active, '退会', value: false %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-5 text-center mt-4">
      <%= f.submit "変更を保存", class: "btn btn-success btn-md" %>
      <% end %>
      </div>
    </div>
  </div>
</div>