<%= render 'layouts/admin_header' %>
<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="order_show">注文履歴詳細</h5>
      <table>
        <tr>
          <th>購入者</th>
          <td>
            <%= link_to admin_customer_path do %>
            <%= @order.customer.last_name %><%= @order.customer.first_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.to_s(:datetime2_jp) %></td>
        </tr>
         <tr>
          <th>配送先</th>
          <td><%= @order.address %><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
        </tr>
         <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <%= form_with model: @order,url: admin_order_path,local: true do |f| %>
         <tr>
          <th>注文ステータス</th>
          <td>
            <%= f.collection_select :order_status, @orders.order_statuses.keys, {}) %>
          </td>
          <td><%= f.submit "更新",class: "btn btn-success btn-sm" %></td>
        </tr>
        <% end %>
      </table>

    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価 (税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= form_with model: @order_item,url: admin_order_path,local: true do |f| %>
          <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><% order_item.order_price %></td>
            <td><% order_item.amount %></td>
            <td><% (order_item.total_price).to_i %></td>
            <td><% order_item.create_status %></td>
            <td><%= f.submit "更新",class: "btn btn-success btn-sm" %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col">
      <table>
        <tr>
          <td>商品合計</td>
          <td><%= (@order_items.total_price).to_i %>円</td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <td>請求金額合計</td>
          <td><strong><%= @orders.total_payment %></strong>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>