<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h5 class="address_edit">配送先編集</h5>
    </div>
    <div class="col mt-3">
      <%= form_with model: @address, url: public_address_path, local: true do |f| %>
      <table>
        <tr>
          <td class="col-md-3"><%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "mb-2" %></td>
          <td class="col-md-3"><%= f.text_field :postal_code, class: "mb-2" %></td>
          <td class="col-md-6"></td>
        </tr>
        <tr>
          <td class="col-md-3"><%= f.label :address, "住所", class: "mb-2" %></td>
          <td class="col-md-6"><%= f.text_field :address, class: "mb-2", size: "50" %></td>
          <td class="col-md-3"></td>
        </tr>
        <tr>
          <td class="col-md-3"><%= f.label :name, "宛名", class: "mb-2" %></td>
          <td class="col-md-3"><%= f.text_field :name, class: "mb-2" %></td>
          <td class="col-md-6"><%= f.submit "変更内容を保存", class: "btn btn-success btn-sm mb-2" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>