<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h5 class="sign_up">新規会員登録</h5>
    </div>
    <div class="col-md-12">
      <%= form_with model: @customer,url: customer_registration_path,local: true do |f| %>
      <table>
        <tr>
          <td><p class="mb-3">名前</p></td>
          <td>
            &emsp;<%= f.label :last_name, "(姓)",class: "mb-3" %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "長野",class: "mb-3" %>
          </td>
          <td>
            &emsp;<%= f.label :first_name, "(名)", class: "ml-3 mb-3" %>
            <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "菓子男", class: "mb-3" %>
          </td>
        </tr>
        <tr>
          <td><p class="mb-3">フリガナ</p></td>
          <td>
            <%= f.label :last_name_kana, "(セイ)", class: "mb-3" %>
            <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", placeholder: "ナガノ" %>
          </td>
          <td>
            <%= f.label :first_name_kana, "(メイ)", class: "ml-3 mb-3" %>
            <%= f.text_field :first_name_kana, autocomplete:"first_name_kana", placeholder: "カシオ" %>
          </td>
        </tr>
        <tr>
          <td><p class="mb-3">メールアドレス</p></td>
          <td>&emsp;&emsp;&emsp;<%= f.email_field :email, placeholder: "cake-daisuki@example.com", autocomplete: "email", class: "mb-3" %></td>
        </tr>
        <tr>
          <td><p class="mb-3 mr-5">郵便番号(ハイフンなし)</p></td>
          <td>&emsp;&emsp;&emsp;<%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "0000000", class: "mb-3" %></td>
        </tr>
        <tr>
          <td><p class="mb-3">住所</p></td>
          <td>&emsp;&emsp;&emsp;<%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", class: "mb-3" %></td>
        </tr>
        <tr>
          <td><p class="mb-3">電話番号(ハイフンなし)</p></td>
          <td>&emsp;&emsp;&emsp;<%= f.text_field :telephone_number, autocomplete: "telephone_number", placeholder: "00000000000", class: "mb-3" %></td>
        </tr>
        <tr>
          <td><p class="mb-3">パスワード(6文字以上)</p></td>
          <td>&emsp;&emsp;&emsp;<%= f.password_field :password, autocomplete: "new-password", class: "mb-3" %></td>
        </tr>
        <tr>
          <td><p class="mb-3">パスワード(確認用)</p></td>
          <td>&emsp;&emsp;&emsp;<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mb-3" %></td>
        </tr>
        <tr>
          <td></td>
          <td>&emsp;&emsp;&emsp;<%= f.submit "新規登録",class: "btn btn-success btn-sm px-5 mb-4" %></td>
        </tr>
      </table>
      <% end %>
    </div>
    <div class="col-md-12">
      <h5 class="finished_sign_up">既に登録済みの方</h5>
      <p class="ml-5"><%= link_to "こちら ",new_customer_session_path %>からログインしてください。</p>
    </div>
  </div>
</div>