<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5>注文履歴一覧</h5>
    </div>
    <div class="col-md-12 mt-3">
      <table border="1">
        <thead>
          <tr>
            <th class="col-md-1">注文日</th>
            <th class="col-md-4">配送先</th>
            <th class="col-md-2">注文商品</th>
            <th class="col-md-1">支払金額</th>
            <th class="col-md-1 p-0">ステータス</th>
            <th class="col-md-1">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% %>
          <tr>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= link_to "表示する",public_order_path(order.id), class: "btn btn-primary btn-sm" %></td>
          </tr>
          <% %>
        </tbody>
      </table>
    </div>
  </div>
</div>